# For Rpi 4, uncomment the line below. It will override the above definition
MACHINE = "raspberrypi4-64"

DISTRO = "elk"
DL_DIR = "${TOPDIR}/../downloads"

PACKAGE_CLASSES ?= "package_ipk"

EXTRA_IMAGE_FEATURES ?= "debug-tweaks"
USER_CLASSES ?= "buildstats image-mklibs image-prelink"
PATCHRESOLVE = "noop"
BB_DISKMON_DIRS ??= "\
    STOPTASKS,${TMPDIR},1G,100K \
    STOPTASKS,${DL_DIR},1G,100K \
    STOPTASKS,${SSTATE_DIR},1G,100K \
    STOPTASKS,/tmp,100M,100K \
    ABORT,${TMPDIR},100M,1K \
    ABORT,${DL_DIR},100M,1K \
    ABORT,${SSTATE_DIR},100M,1K \
    ABORT,/tmp,10M,1K"
do_image_complete[deptask] += "do_populate_lic"
PACKAGECONFIG_append_pn-qemu-native = " sdl"
PACKAGECONFIG_append_pn-nativesdk-qemu = " sdl"
CONF_VERSION = "1"

SECURITY_STRINGFORMAT = "-Wformat -Wformat-security"

INHERIT += "rm_work"
ENABLE_UART = "1"
RPI_USE_U_BOOT = "1"
SERIAL_CONSOLES = "ttyS0,57600"
EXTRA_IMAGE_FEATURES = " debug-tweaks ssh-server-openssh package-management"
ELK_HAT_NAME = "elk-pi"
KERNEL_IMAGETYPE_raspberrypi4-64 = "Image.gz"
# set the host name of device
hostname_pn-base-files = "elk-pi"

RPI_KERNEL_DEVICETREE_raspberrypi3 = " \
    bcm2708-rpi-0-w.dtb \
    bcm2708-rpi-b.dtb \
    bcm2708-rpi-b-plus.dtb \
    bcm2709-rpi-2-b.dtb \
    bcm2710-rpi-3-b.dtb \
    bcm2710-rpi-3-b-plus.dtb \
    bcm2708-rpi-cm.dtb \
    bcm2710-rpi-cm3.dtb \
    "

# Comment the following for qt image
BBMASK += "meta-elkpi/recipes-images/images/elkpi-audio-os-image-qt.bb"
BBMASK += "meta-elk/recipes-qt/simple-qt/simple-qt_0.1.bb"
BBMASK += "meta-elk/recipes-qt/qt/qtbase_git.bbappend"
#BBMASK += "meta-raspberrypi/recipes-kernel/linux/linux-raspberrypi_5.4.bb"
# By default, mda-vst2 plugins are not installed in the image and SUSHI will not
# have VST2 support enabled. If you have access to the VST2 SDK you can enable
# both by setting the variable VST2SDK_PATH to the path of the vst2 sdk as
# follows:
# VST2SDK_PATH = "path/to/the/vst2sdk/in/your/build/machine/"
# For example : VST2SDK_PATH = "/home/user/vstsdk2.4"
# To disable VST2 support, just define `VST2SDK_PATH` as an empty string.
