[Unit]
Description=sensei starting service
After=load-drivers.service
ConditionPathExists=/dev/rtdm/shiftreg_rtdm

[Service]
Type=simple
RemainAfterExit=yes
WorkingDirectory=/udata/
Environment=LD_LIBRARY_PATH=/usr/xenomai/lib

# You can use your custom sensei config file by editing the following line
ExecStart=/usr/bin/sensei -f /usr/share/sensei/blackboard.json

User=mind

[Install]
WantedBy=multi-user.target
