[Unit]
Description=sushi starting service
After=load-drivers.service
ConditionPathExists=/dev/audio_evl

[Service]
Type=simple
RemainAfterExit=yes
LimitRTPRIO=infinity
LimitMEMLOCK=infinity
LimitSTACK=infinity
WorkingDirectory=/udata/
ExecStart=/usr/bin/sushi -r -c /home/mind/config_files/empty.json
User=mind

[Install]
WantedBy=multi-user.target
